*{
    margin: 0;
    padding: 0;
}
body{
    
    display: flex;
}
.text :nth-child(3){
    font-size: small;
}
.text :nth-child(2){
    font-size: medium;
}
.text{
    position: relative;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 50px;
    color: #ffff;
}
.sec1{

    
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:30vw;
    background-color: #51C8BC;
}
.sec2{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.985),rgba(220, 220, 220, 0.837));
    width: 70vw;
}
.img img{
   position: relative;
   top: 60px;
margin-left: 55px;
    border-radius: 10px; 
    z-index: 10;
    height: 200px;
} 
.sec2 select{
    margin: 5px;
    border: none;
    outline: none;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create{
    
    gap: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 115px;
    margin-top: 20px;
    border-radius: 10px;
    height: 455px;
    width: 470px;
    background-image: linear-gradient(45deg,rgb(226, 242, 242),rgb(196, 221, 221),rgb(150, 183, 183));
}

.create input {
    
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #BEBCBC; /* You can change the color as needed */
    outline: none;
    font-weight: bold;
    
  }
  
  /* Optional: Style for input focus */
  .create input:focus {
    
    border-bottom: 2px solid #000; /* You can change the color as needed */
  }
.hero:nth-child(1){
    font-family: abel;
align-items: flex-start;
    font-size: xx-large;
}
.hero :nth-child(6){
    display: flex;
    gap: 8px;
   
}
.hello{
    
    display: flex;
    flex-direction: column;

}
.hello ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.8;

    font-size: 12px;
}
ul button{
    width: 290px;
    height: 34px;
    border: 0.5px white;
    background-color: #3BADCD;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Abel';
    font-weight: bolder;
    transition: box-shadow 0.3 ease;
}
ul button:hover{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    background-color: #3cbce0;
    cursor: pointer;
}
.body{
    
    display: flex;
    justify-content: center;
}
.welcome{
    font-family: anta;
    font-size: xx-large;
    margin: 20px;
border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80vw;
    background-color: #51C8BC;
  
}
.portion{
    flex-direction: column;
    display: flex;
}
.contact fieldset{
    width: 700px;
    border: 5px solid white;
}
.contact{
    
    font-size: large;
    font-family: anta;
    margin: 20px;
    border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 80vw;
        background-color: #51C8BC;
      
}
.contact ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
.contact-item{
    font-family: abel;
    font-size: small;
}
.help-block{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.contact-item label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control{
    display: block;
    width: 50%;
    height: 15px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact form{
    margin-left: 10px;
}
.textarea{
    height: 80px;
}
.form-control::after{
    box-shadow:0px 0px 10px 5px rgba(0,0,0,0.3);;
}
.solid {
    font-size: 14px !important;
    background: #032916;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    width: 100px;
    font-family: "LatoBold";
    margin-bottom: 5px;
}
.solid:hover{
    order-color: #032916;
    background: transparent;
    color: #032916;
    outline: none;
}
.or{
    margin: 5px;
    font-size: large;
}
.signup{

    display: flex;
    gap: 25px;
    font-size: medium;
    height:  50px;
}
.signup img{
    height: 12px;
    margin-right: 3px;
}
.signup a{
    text-decoration: none ;
    color: #000;
}
.login h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.6;
    font-size: 15px;
    color:black;
}
.login a{
    opacity: 1;
    font-weight: bolder;
text-decoration: none;
color: #3BADCD;
}